img {
    height: 100%;
}

.search-container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-container { 
    height: 65vh;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center
}

.results-container > div {
    margin: 1rem;
}

.nominated-container {
    height: 85%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    width: 99%;


   
}
.nominated-container > * {
    margin: 0 1rem;
}

.pagination-container {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shoppies-banner {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.page-fraction {
    width: 100%;
    text-align: center;
}

.full-nominations-banner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    text-align:center;
    background: orange;
    font-size: 1.2rem;
}